<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<style>
	{{{css}}}
	</style>

	</head>
	<body>
<div id="outer">
  <div id="col1"></div>
  <div id="col2"></div>
  <div id="col3"></div>
  <div id="col4"></div>
  <div id="col5"></div>
  <div id="clearer"></div>
</div>
	<div id="resume">

	{{#resume.basics}}
	<h1>{{name}}</h1>
  <div id="meta">
    {{label}}
  </div>
	<section id="basics">
		<div class="contact">

		{{#if email}}
		<span class="email">
			{{email}}
		</span>
		{{/if}}
		{{#if website}}
		<span class="website">
			{{website}}
		</span>
		{{/if}}
		{{#if phone}}
		<span class="phone">
			/ {{phone}}
		</span>
		{{/if}}
		</div>
		{{#if summary}}
		<div class="summary">
		  <h2>Summary</h2>
      <p>{{{summary}}}</p>
		</div>
		{{/if}}
		<!-- {{#location}} -->
		<!-- <h3>Location</h3> -->
		<!-- <section id="location"> -->
		<!-- 	{{#if address}} -->
		<!-- 	<div class="address"> -->
		<!-- 		<strong>Address</strong> -->
		<!-- 		{{address}} -->
		<!-- 	</div> -->
		<!-- 	{{/if}} -->
		<!-- 	{{#if postalCode}} -->
		<!-- 	<div class="postalCode"> -->
		<!-- 		<strong>Postal code</strong> -->
		<!-- 		{{postalCode}} -->
		<!-- 	</div> -->
		<!-- 	{{/if}} -->
		<!-- 	{{#if city}} -->
		<!-- 	<div class="city"> -->
		<!-- 		<strong>City</strong> -->
		<!-- 		{{city}} -->
		<!-- 	</div> -->
		<!-- 	{{/if}} -->
		<!-- 	{{#if countryCode}} -->
		<!-- 	<div class="countryCode"> -->
		<!-- 		<strong>Country code</strong> -->
		<!-- 		{{countryCode}} -->
		<!-- 	</div> -->
		<!-- 	{{/if}} -->
		<!-- 	{{#if region}} -->
		<!-- 	<div class="region"> -->
		<!-- 		<strong>Region</strong> -->
		<!-- 		{{region}} -->
		<!-- 	</div> -->
		<!-- 	{{/if}} -->
		<!-- </section> -->
		<!-- {{/location}} -->
	<!-- 	{{#if profiles.length}} -->
	<!-- 	<h3>Profiles</h3> -->
	<!-- 	<section id="profiles"> -->
	<!-- 		{{#each profiles}} -->
	<!-- 		<div class="item"> -->
	<!-- 			{{#if network}} -->
	<!-- 			<strong class="network"> -->
	<!-- 				{{network}} -->
	<!-- 			</strong> -->
	<!-- 			{{/if}} -->
	<!-- 			{{#if username}} -->
	<!-- 			<div class="username"> -->
	<!-- 				{{username}} -->
	<!-- 			</div> -->
	<!-- 			{{/if}} -->
	<!-- 			{{#if url}} -->
	<!-- 			<div class="url"> -->
	<!-- 				<a href="{{url}}">Link</a> -->
	<!-- 			</div> -->
	<!-- 			{{/if}} -->
	<!-- 		</div> -->
	<!-- 		{{/each}} -->
	<!-- 	</section> -->
	<!-- 	{{/if}} -->
	<!-- </section> -->
	<!-- {{/resume.basics}} -->

	{{#if resume.work.length}}
	<section id="work">
		<h2>Work Experience</h2>
		{{#each resume.work}}
		<div class="item">
			{{#if position}}
			 	<h3 class="position">
				{{position}}
			  	</h3>
			{{/if}}
      		<div class="details">
				{{#if company}}
					<span class="name">
					{{company}} /
					</span>
				{{/if}}
				{{#if startDate}}
					<span class="startDate">
					{{startDate}}
					</span>
				{{/if}}
				{{#if endDate}}
					<span class="endDate">
					- {{endDate}}
					</span>
				{{else}}
					<span class="endDate">
					- Present
					</span>
				{{/if}}
      		</div>
			{{#if website}}
				<div class="website">
			 		<a href="{{website}}">{{website}}</a>
			 	</div>
			{{/if}}
			{{#if summary}}
				<div class="summary">
					<p>{{summary}}</p>
				</div>
			{{/if}}
			{{#if highlights.length}}
				<ul class="highlights">
					{{#each highlights}}
						<li>{{.}}</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

<!--
	{{#if resume.volunteer.length}}
	<section id="volunteer">
		<h2>Volunteer</h2>
		{{#each resume.volunteer}}
		<div class="item">
        	{{#if position}}
				<h3 class="position">
					{{position}}
				</h3>
			{{/if}}
            <div class="details">
            	{{#if organization}}
					<span class="name">
						{{organization}}
					</span>
				{{/if}}
                {{#if startDate}}
					<span class="startDate">
						{{startDate}}
					</span>
				{{/if}}
				{{#if endDate}}
					<span class="endDate">
						- {{endDate}}
					</span>
				{{else}}
					<span class="endDate">
						- Present
					</span>
				{{/if}}
            </div>
			{{#if website}}
				<div class="website">
					<a href="{{website}}">{{website}}</a>
				</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
-->

	{{#if resume.education.length}}
	<section id="education">
		<h2>Education</h2>
		{{#each resume.education}}
		<div class="item">
			{{#if studyType}}
				<h3 class="studyType">
					{{studyType}} in
					{{#if area}}
						{{area}}
					{{/if}}
				</h3>
			{{/if}}
			<div class="details">
				{{#if institution}}
					<span class="name">
						{{institution}}
					</span>
				{{/if}}
				{{#if startDate}}
				<span class="startDate">
					{{startDate}}
				</span>
				{{/if}}
				{{#if endDate}}
				<span class="endDate">
					- {{endDate}}
				</span>
				{{else}}
				<span class="endDate">
					- Present
				</span>
				{{/if}}

				{{#if gpa}}
					<div class="gpa">
						GPA: {{gpa}}
					</div>
				{{/if}}
				{{#if courses.length}}
					<ul class="courses">
						{{#each courses}}
							<li>{{.}}</li>
						{{/each}}
					</ul>
				{{/if}}
			</div>
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.portfolio.length}}
	<section id="additional-urls">
		<h2>Additional URL's</h2>
		{{#each resume.portfolio}}
		<div class="item">
			{{#if title}}
			 	<h3 class="title">
				{{title}}
			  </h3>
			{{/if}}
 			{{#if url}}
				<div class="url">
			 		<a href="{{url}}">{{url}}</a>
			 	</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
<!--
	{{#if resume.awards.length}}
	<section id="awards">
		<h2>Awards</h2>
		{{#each resume.awards}}
		<div class="item">
			{{#if title}}
			<div class="title">
				{{title}}
			</div>
			{{/if}}
			{{#if date}}
			<div class="date">
				{{date}}
			</div>
			{{/if}}
			{{#if awarder}}
			<div class="awarder">
				{{awarder}}
			</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.publications.length}}
	<section id="publications">
		<h2>Publications</h2>
		{{#each resume.publications}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if publisher}}
			<div class="publisher">
				{{publisher}}
			</div>
			{{/if}}
			{{#if releaseDate}}
			<div class="releaseDate">
				{{releaseDate}}
			</div>
			{{/if}}
			{{#if website}}
			<div class="website">
				<a href="{{website}}">Link</a>
			</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.skills.length}}
	<section id="skills">
		<h2>Skills</h2>
		{{#each resume.skills}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if level}}
			<div class="level">
				<em>{{level}}</em>
			</div>
			{{/if}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.languages.length}}
	<section id="languages">
		<h2>Languages</h2>
		{{#each resume.languages}}
		<div class="item">
			{{#if language}}
			<div class="language">
				{{language}}
			</div>
			{{/if}}
			{{#if fluency}}
			<div class="fluency">
				<em>{{fluency}}</em>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.interests.length}}
	<section id="interests">
		<h2>Interests</h2>
		{{#each resume.interests}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.references.length}}
	<section id="references">
		<h2>References</h2>
		{{#each resume.references}}
		<div class="item">
			{{#if reference}}
			<blockquote class="reference">
				{{reference}}
			</blockquote>
			{{/if}}
			{{#if name}}
			<div class="name">
				— {{name}}
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
-->

	</div>

	</body>
</html>
